<div class="container-fluid">
  <div class="row lightheader">
    <br>
    <br>
    <br>
  </div>
  <div class="row text-center">
    <div class="col"><h1 class="cursiva">Sorteo</h1></div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" (click)="reset()" class="resetButton">Reset</button>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-4">
      <div class="row">
          <button type="button" (click)="generarNombre($event.target)" class="btnSorteo" [disabled]="participantes.length <= 0">Generar nombre</button>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <button type="button" (click)="generarNumero($event.target)" class="btnSorteo2" [disabled]="numerosParticipantes.length <= 0">Generar número</button>
      </div>
    </div>
    <div class="col-2">
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-2"></div>
    <div class="col text-center">
      <div class="card-ganador">
        <h3 class="cursiva2">Ganador</h3>
        <h4 class="text-primary">{{participanteSeleccionado}}</h4>
        <h3 class="cursiva2">con el número</h3>
        <h4 class="text-primary">{{numeroSeleccionado}}</h4>
      </div>
    </div>
    <div class="col-2"></div>
  </div>

  <br>
  <br>
  <div class="row pb-3">
    <div class="ganadores">
      <h4 class="cursiva2">Ganadores</h4>
      <ul>
        <li *ngFor="let g of participantesConPremio">{{g.nombre}} | Número <strong>{{g.numero}}</strong></li>
      </ul>
    </div>
  </div>

</div>

<div class="loading" *ngIf="isloading">
  <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
</div>

<div class="esfera">
  <img src="../assets/esfera1.PNG" alt="" width="250">
</div>
<div class="esfera2">
  <img src="../assets/esfera1.PNG" alt="" width="140">
</div>
<div class="esfera3">
  <img src="../assets/esfera1.PNG" alt="" width="140">
</div>
